@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe  */

/* des style tout simple pour visualiser les div */
.taille_police{
    font-size: xx-large.
}
.fond_orange {
    background: orange;
}
.fond_rouge{
    background: red;
}
.fond_vert{
    background: greenyellow;
}
.fond_bleu_azur{
    background: rgb(28, 179, 179);
}
.fond_violet{
    background: rgb(78, 44, 105)
}
.fond_linen{
    background-color: linen;
}
.fond_rouge{
    background-color: red;
}.fond_jaune{
    background-color: yellow;
}
/* les styles de la page */

body{
    margin:auto; /* margin c'est la marge extérieur d'un élément */
    background: linear-gradient(to right, green, white, red );
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
div{
    background-color:;
}
nav {
    font-size: xx-large; 
}
footer{
    background-color: blue;
}
#main {
    background: white;
      font-family: 'Times New Roman', Times, serif;
    width: 880px;
    float: right;
    padding: 0px;
}
/* l'emballage de toute la page */
#wrapper{  
    width: 1200px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 0px solid rgb(11, 171, 211);
}
/* le haut de page */
header{ 
    background: url(../img/panorama.jpg) center top no-repeat , linear-gradient(lightblue,whitesmoke);
    height: 435px;
    /* hauteur de l'élément */
}
/* lecôté de la page */
aside
    {   
        width: 300px;
        height: 600px;
        /* largeur de l'élément*/
        border: 0px solid whitesmoke;
        float: left;
        padding: 10px; /* marge interne ou rembourage */
}
/* la class pour tout remettre dans le flux */
.clear{
    clear: both;
}
/* le pied de page */
footer{
    height: 60px;
    border: 20px solid whitesmoke;
}
/* le formulaire sur le CSS */

form{
    background-color: white;
    padding:50px;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dashed #e00037;
}
legend{
    font-weight: 800px;
    color: #00726a;
}
label{
    margin-top: 20px;
    background-color: orange;
    color: white;
    /* display: block permet d'aller à ligne automatiquement */
    display: block;
    width: 80%;
}
label.inline {
    display: inline;
    margin-right: 50px;
}
input, textarea, select {
    border: 3px solid olivedrab;
    padding: 5px;
    box-shadow: 1px 1px 2px grey inset;
}
select{
    margin-top: 10px;

}
/* le tableau */
table{
    width: 95%;
    margin: auto;
    border-collapse: collapse; /* fusionne les bordures stylées ci-aprés */
}
table, th, td {
    border: 10px solid rgb(230, 34, 34);

}
th, td{
    padding: 10px;
}
tr:hover{
    background-color: cyan;
}
 caption,th, tfoot {
    text-align: left;
    background: #00726a;
    color: white;
}
a:hover{
    background-color:yellow;
}
caption{
    caption-side: top;
    text-transform: uppercase;
}
/* différents styles de bordure */
.filetgauche{
    border-left: 8px solid #e00037;
}
.bordurebasse{
    border-bottom: 8px solid #00726a;
}
.cartouche{ /*  un essai de bordure avec des coins arrondis */
    border: 2px solid orange;
    border-radius: 100px;
    padding: 25px ;
}