@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe  */

/* des style tout simple pour visualiser les div */
.taille_police{
    font-size: xx-large.
}
.fond_orange {
    background: orange;
}
.fond_rouge{
    background: red;
}
.fond_vert{
    background: greenyellow;
}
.fond_bleu_azur{
    background: rgb(28, 179, 179);
}
.fond_violet{
    background: rgb(78, 44, 105)
}
.fond_linen{
    background-color: linen;
}
.fond_canard{
    background-color: rgb(194, 191, 26)
}
/* les styles de la page */

body{
    margin:auto; /* margin c'est la marge extérieur d'un élément */
    background-color: rgb(229, 200, 100)
;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
div{
    background-color:;
}
nav{
    font-size: xx-large;
    background-color: aquamarine;
}
footer{
    background-color: blue;
}
#main {
      font-family: 'Times New Roman', Times, serif;
    width: 680px;
    float: right;
    padding: 0px;
}
/* l'emballage de toute la page */
#wrapper{  
    width: 1000px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 0px solid rgb(11, 171, 211);
}
/* le haut de page */
header{
    background: url(../img/panorama.jpg) center top no-repeat;
    height: 500px;
    /* hauteur de l'élément */
    border: 3px solid whitesmoke;
}
/* lecôté de la page */
aside
    {   
        width: 300px;
        height: 600px;
        /* largeur de l'élément*/
        border: 0px solid whitesmoke;
        float: left;
        padding: 10px; /* marge interne ou rembourage */
}
/* la class pour tout remettre dans le flux */
.clear{
    clear: both;
}
/* le pied de page */
footer{
    height: 267.85px;
    border: 20px solid whitesmoke;
}
/* le formulaire sur le CSS */

form{
    background-color: white;
    padding:50px;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dashed #e00037;
}
legend{
    font-weight: 800px;
    color: #00726a;
}
label{
    margin-top: 20px;
    background-color: orange;
    color: white;
    /* display: block permet d'aller à ligne automatiquement */
    display: block;
    width: 80%;
}
label.inline {
    display: inline;
    margin-right: 50px;
}
input, textarea, select {
    border: 3px solid olivedrab;
    padding: 5px;
    box-shadow: 1px 1px 2px grey inset;
}
select{
    margin-top: 10px;

}