@charset "utf-8";
/* CSS document pour le fichier transition et iframe */

body {
    background: lightgoldenrodyellow;
    font-family: sans-serif; /* sans serif ou sans empattement ou typo "bâton" */
    font-size: 1.3em;
}
/* couleurs de fons pour voire les div */
/* h2{
    font-size: 1.6em;
} */
.couleur_une {
    background: lightblue;
}
.couleur_deux {
background: lightgreen;
}
/* .change {
    border: 1px solid white;
} */
.clear {
    clear: both;
}
/* changement des ul en tableaux */
ul { 
    list-style: none; /* suppression des puces  */
    float: left;
    margin: 0; /* marges extérieures */
    padding: 0; /* marges intérieur */
}
/* une marge haute pour les 2 classes gauche et droite */
.gauche, .droite {
    margin-top: 5em;
}
/* la ul qui est dans la div gauche */
.gauche ul{
    margin: 3.2em 0 0 0;
}
/* tous les lli de la ul ayant la class .gauche  */
.gauche ul li {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1em;
    width: 10em;
}
/* le premier li de la ul ayant la class .gauche */
.gauche ul li:first-child{
    border-top: 1px solid #ccc;
}
ul.liste li { /* tous les li de la liste ul ayant la class .liste */
    border-left: 1px solid green;
}
.droite .change ul li { /* tous les li de la liste ul ayant la classe .change elle-même enfant de la classe .droite */
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1em;
    width: 10em;
    text-align: center;
}
.droite .change ul li:last-child{
    border-bottom: 1px solid #ccc;
}

/* paramétrage des animations (CSS3): des effets de transitions au survol de la souri */
.droite .change ul:hover{
    background: linear-gradient(#d5d5d5, #8a8a8a);
    cursor: pointer;          /*  changement de l'affichage du curseur */
    transform: scale(1.1);    /*  echelle de zoom */
    transition-duration: 1s;  /*  durée de l'effet de transition */
}
.droite .change ul:hover li:first-child{ /* au survol de la souris on selection le premier li de la ul ayant la classe .change elle-même enfant de la classe .droite */
    background-color: #333;
    color: white;
}

